
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
*{
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #EDF2F4;
}


nav{
padding: 4%;
display: flex;
align-items: center;
justify-content: space-between;
font-size: 2.5em;
font-weight: 200;
background-color: #2B2D42;
color: #EDF2F4;;
height: 10vh;
width: 100%;
}

nav span{
color: #EF233C;
}




@media (min-width: 730px) {


  }

@media (min-width: 930px) {

    
    }

@media (min-width: 1275px) { 
    
      }

